div.container {
  margin: auto;
}

div.skill {
  font-size: 14px;
}

div.projects-container {
  margin: auto;
  width: 727px;
}

.project-one,
.project-two,
.project-three,
.project-four {
  width: 50%;
}