nav {
  display: block;
  width: 260px;
}

nav div {
  padding-top: 40px;
  font-size: 1.5em;
}

div.container {
  margin: auto;
  margin-top: 50px;
}

div.about div {
  padding: 5px 75px 20px;
}

div.skill {
  font-size: 14px;
}

div.projects-container {
  margin: auto;
  width: 727px;
}

.project-one,
.project-two,
.project-three,
.project-four {
  width: 50%;
}

