nav {
  display: block;
  width: 260px;
}

nav div {
  padding-top: 40px;
}

nav div div {
  display: block;
  padding: 0;
}

div.container {
  margin: auto;
  margin-top: 50px;
}

div.title-container {
  padding-top: 3%;
}

div.title-container p:first-child {
  font-size: 55px;
}

div.title-container p:first-child + p {
  font-size: 22px;
}

div.about div {
  padding: 5px 75px 20px;
}

div.skill {
  font-size: 14px;
}

div.projects-container {
  margin: auto;
  width: 100%;
}

div.social,
div.contact {
  width: 50%;
}

div.contact {
  order: 1;
}

div.social {
  text-align: right;
  order: 2;
}

div.footer-card {
  display: flex;
  flex-wrap: flex;
}

div.modal {
  background-color: rgba(0,0,0,0.7);
}

div.modal-container {
  display: flex;
  align-items: center;
  height: 100%;
}

div.modal-content {
  position: relative;
  height: initial;
  overflow: initial;
  margin: auto;
  width: 700px;
  background-color: #fff;
  padding: 0;
}


.close {
  position: absolute;
  bottom: initial;
  margin-top: 5px;
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

div.modal-header {
  position: absolute;
  width: 100%;
  height: 55px;
  padding: 0;
  background-color: #9d9c9c;
  color: white;
}

div.modal-header span {
  float: none;
  margin: 6px 0px 0px 15px;
}

div.modal-body-container {
  height: 100%;
}

div.modal-body {
  margin: 0;
  padding: 65px 5px 5px;
}

div.modal-img-container {
  text-align: center;
}

div.modal-img-container img {
  width: 344px;
}

div.modal-txt-container {
  font-size: 14px;
  padding: 20px;
}

div.link-container {
  text-align: center;
}

div.link-container img {
  height: 50px;
  width: 50px;
  cursor: pointer;
}



