div.skills {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
}

div.skill-container {
  width: 33.3%;
}

div.design {
  margin: 0px 4px 8px 8px;
}

div.strategy {
  margin: 0px 4px 4px 4px;
}

div.technology {
  margin: 0px 8px 8px 4px;
}

div.project {
  margin-bottom: -13px;
  width: 50%;
}

div.projects-container {
  background-color: initial;
}

div.project img {
  width: 100%;
}

table {
  margin: auto;
  width: 433px;
}

div.social img {
  padding: 0 5px;
}

div.social a img:hover {
  fill: #fff;
}

div.modal-content {
  background-color: #fff;
}