html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Lucida Console", Monaco;
  background-color: #d9d9d9;
}

div.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 40px;
  width: 100%;
  background-color: #9d9c9c;
}

a#menu svg:active {
  fill: #fff;
}

nav {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: .9;
  -webkit-transform: translate(-3000px, 0);
  transform: translate(-3000px, 0);
  transition: transform 0.3s ease;
  z-index: 1;
}

nav.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

nav div {
  text-align: center;
  width: 100%;
  font-size: 1.5em;
  color: white;
}

nav div p {
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}

nav div p:first-child {
  width: 73px;
}

nav div p:first-child + p {
  width: 60px;
}

nav div p:first-child + p + p {
  width: 90px;
}

nav div p:first-child + p + p + p {
  width: 32px;
}

nav div p:hover,
nav div p a:hover {
  color: #5CBDE2;
}

div a {
  text-decoration: none;
  color: white;
}

nav div div {
  display: inline;
  padding: 0;
}

nav div div a svg {
  fill: #fff;
  height: 75px;
  width: 75px;
}

nav div div a svg:hover {
  fill: #5CBDE2;
}

a#menu svg {
  margin: -1px 0px 0px 6px;
  width: 40px;
  fill: #000;
  cursor: pointer;
}

.container {
  position: relative;
  margin-top: 50px;
  height: 100%;
  width: 100%;
}

.box {
  width: 100%;
}

.box h1,
.box h3 {
  text-align: center;
}

.card {
  position: relative;
  margin: 0px 8px 8px 8px;
  background-color: white;
}

div.title {
  display: flex;
}

div.title-card {
  position: relative;
  width: 100%;
  margin: 0 8px 4px 8px;
}

div.title-card img {
  width: 100%;
  -webkit-filter: grayscale(.6);
  filter: grayscale(.6);
}

div.title-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  text-shadow: 0px 0px 10px black;
}

div.title-container {
  text-align: center;
  padding-top: 5px;
}

div.title-container p:first-child {
  font-size: 33px;
  margin: 0;
}

div.title-container p:first-child + p {
  font-size: 20px;
  margin-top: -5px;
}

div.about h3,
div.skills h3 {
  color: #5CBDE2;
}

div.about div {
  padding: 5px 20px 20px;
}

div.skill {
  height: 210px;
  text-align: center;
  padding: 5px 20px;
}

div.skill svg {
  display: block;
  margin: auto;
  height: 60px;
  width: 60px;
}

div.projects-card {
  padding: 0;
}

div.projects-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  background-color: #d9d9d9;
}

div.project {
  position: relative;
  width: 100%;
  margin-bottom: -5px;
  padding-bottom: 8px;
  cursor: pointer;
}

div.project img,
div.project svg {
  width: 100%;
  -webkit-filter: brightness(100%);
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}

div.project:hover img,
div.project:hover svg {
  -webkit-filter: brightness(20%);
}

div.project div {
  position: absolute;
  display: table;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  color: white;
}

div.project div p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  opacity: 0;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}

div.project div:hover p {
  opacity: 1;
}

div.perf-card {
  padding-bottom: 0 !important;
}

div.stack-card {
  padding: 40px 5px;
}

table {
  text-align: center;
  width: 100%;
}

td svg {
  height: 90px;
  width: 90px;
}

div.footer-card {
  padding: 5px;
  background-color: #9d9c9c;
}

div.social {
  padding: 20px 5px 5px 5px;
  text-align: center;
}

div.social svg {
  height: 50px;
  width: 50px;
}

div.social svg:hover {
  fill: #fff;
}

div.contact {
  padding: 5px;
  color: white;
  line-height: 3px;
}

div.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

div.modal-content {
  position: fixed;
  overflow: auto;
  height: 100%;
  width: 100%;
  background-color: #d9d9d9;
  padding: 0;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.close {
  position: absolute;
  bottom: 15px;
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

div.modal-header {
  position: fixed;
  width: 100%;
  height: 55px;
  top: 0;
  left: 0;
  padding: 2px 16px;
  background-color: #9d9c9c;
  color: white;
}

div.modal-body {
  margin: 65px 8px 8px 8px;
  padding: 5px;
  background-color: white;
}

div.modal-img-container img {
  width: 100%;
  height: 100%;
}

div.modal-txt-container {
  padding: 20px;
}

div.link-container {
  text-align: center;
}

div.link-container svg {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

div.link-container svg:hover {
  fill: #9d9c9c;
}

div.link-container svg:active {
  fill: #000;
}

a.ext-link svg {
  margin-right: 10px;
}

a.gh-link svg {
  margin-bottom: 2px;
  margin-left: 10px;
}